p {
    color: red;
}

.second-para {
    background-color: #00FF00;
}

p,
h1,
h2 {
    font-size: 24px;
}

[target="_blank"] {
    color: yellow;
}

ul li {
    font-weight: bold;
}

.item > span {
    font-size: 18px;
}

.item > div > span {
    font-style: italic;
} 
